.head {
	background-color: $clear-blue-800;
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid darken($color: $clear-blue-800, $amount: 10);
	h1 {
		font-weight: 700;
		color: $neutral-900;
	}
}
