.head {
	background-color: $clear-blue-800;
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	margin-top: 1rem;
	h1 {
		font-weight: 700;
		color: $neutral-100;
	}
}
