.rocket-details {
	margin-top: .5rem;
	ul {
		list-style: none;
		li {
			b {
				padding-right: .3rem;
			}
			span {
				font-weight: 500;
				color: $dark-blue-400;
			}
		}
	}
	p {
		color: $dark-blue-400;
		font-weight: 500;
	}
	h4,
	h3 {
		.clear-blue {
			color: darken($color: $clear-blue-800, $amount: 10);
		}
	}
	h2 {
		color: $neutral-900;
		font-weight: 600;
	}
}
